<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template> <!--Aqui está el html y css del componente-->
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Soy [[first_name]] [[last_name]]</h3>
    <h4>Tengo [[age]] años</h4>
    <input type="text" value="{{first_name::input}}">
    <input type="range" min="18" value="{{age::input}}" max="70">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {    //extends hereda de una clase base de donde creo mi web-componet
      static get is() { return 'frontproyecto-app'; }    //funcion estatica permite llamarlas antes de instanciar el objeto
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'TechU'
          },first_name: {
            type: String,
            value: 'Jesus'
          },last_name: {
            type: String,
            value: 'Carrera'
          },age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);// define un nuevo custonelement  'frontproyecto-app' en window
  </script>
</dom-module>
