<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template> <!--Aqui está el html y css del componente-->
    <!--display block indica al componente que se miestre, si es display none no se muetra
  all initila indica a los stilos que se reinicien y entonces no hereda del css global -->
    <style>
      :host {
        display: block;
        /*all:initial;*/
        /*border:solid red;*/
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <input placeholder="email" type="text" value="{{email::input}}" />
    <input placeholder="password" type="password" value="{{password::input}}" />
    <button on-click="login">Login</button>
    <!--hay que poner el hidden al asociar una propiedad de un elemento vinculada a un atributo(si fuena un true directamente no haria falta)-->
    <span hidden$="{{!isLogged}}">Bienvenido/a de nuevo</span>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
    <!--<input type="text" value="{{first_name::input}}">
    <input type="range" min="18" value="{{age::input}}" max="70">-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {    //extends hereda de una clase base de donde creo mi web-componet
      static get is() { return 'login-usuario'; }    //funcion estatica permite llamarlas antes de instanciar el objeto
      static get properties() {
        return {
          email: {
            type: String,
            value:"email@america"
          },password: {
            type: String,
            value:"cacacacaacaccc"
          }, isLogged: {
            type: Boolean,
            value: false
          }
        };
      }
      login(){
        console.log("El usuario ha pulsado el boton");
        console.log("Voy a enviar la peticion");
        var loginData = {
          "email": this.email,
          "password": this.password
        };
        console.log("HOla");
        console.log(loginData);

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Peticion enviada")
      }
      manageAJAXResponse(data){
        console.log("Llegaron las datos");
        this.isLogged = true;
        window.location = "user/" + data.detail.response.idUsuario;

        }
      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);// define un nuevo custonelement  'frontproyecto-app' en window
  </script>
</dom-module>
