const requestJson = require('request-json');const baseMLabURL = "https://api.mlab.com/api/1/databases/NOMBREBD/collections/";

const mLabAPIKey = "apiKey=" + process.env.MLAB_API_KEY;function getAccountV2(req, res) {

 console.log("GET /apitechu/v2/accounts/:userid");  var id = req.params.userid;

 var query = 'q={"userId":' + id + '}';

 console.log("Query es " + query);  httpClient = requestJson.createClient(baseMLabURL);

 httpClient.get("accounts?" + query + "&" + mLabAPIKey,

   function(err, resMLab, body) {

     console.log(body);

     if (err) {

       response = {

         "msg" : "Error obteniendo cuentas."

       }

       res.status(500);

     } else {

       if (body.length > 0) {

         response = body;

       } else {

         response = {

           "msg" : "El usuario no tiene cuentas."

         };

         res.status(404);

       }

     }

     res.send(response);

   }

 );

}module.exports.getAccountV2 = getAccountV2;

*VISOR CUENTAS*

<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" /><dom-module id="visor-cuentas">

 <template>

   <style>

     :host {

       display: block;

     }

   </style>

   <h1>Sus cuentas</h1>

   <h3>IBAN - {{iban}}</h3>

   <h3>Saldo - {{balance}}</h3>    <iron-ajax auto

     id="getAccounts"

     url="http://localhost:3000/apitechu/v2/accounts/{{userid}}"

     handle-as="json"

     on-response="showData">

 </template>  <script>

   /**

    * `visor-cuentas`

    * Visor de cuentas

    *

    * @customElement

    * @polymer

    * @demo demo/index.html

    */

   class VisorCuentas extends Polymer.Element {

     static get is() { return 'visor-cuentas'; }

     static get properties() {

       return {

         userid : {

           type: Number

         }, iban: {

           type: String

         }, balance: {

           type: Number

         }

       };

     }      showData(data) {

       // Only one account, for now.

       console.log(data.detail.response[0]);

       this.iban = data.detail.response[0].IBAN;

       this.balance = data.detail.response[0].balance;

     }

   }    window.customElements.define(VisorCuentas.is, VisorCuentas);

 </script>

</dom-module>
