<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>

<dom-module id="visor-cuentas">
  <template> <!--Aqui está el html y css del componente-->
    <!--display block indica al componente que se miestre, si es display none no se muetra
  all initila indica a los stilos que se reinicien y entonces no hereda del css global -->
    <style>
      :host {
        display: block;
        /*all:initial;*/
        /*border:solid red;*/
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <h2>Usuario: [[IdUsuario]] IBAN: [[IBAN]] saldo: [[balance]]</h2>
_____________________________________________________________
    <template is="dom-repeat" items="{{cuentas}}">
      <h3>Usuario: [[item.IdUsuario]] IBAN: [[item.IBAN]] saldo: [[item.balance]]</h3>
    </template>
_____________________________________________________________
    <h3><h3>

    <iron-ajax auto
    id="getCuentas"
    url="http://localhost:3000/apitechu/v2/accounts/{{id}}"
    handle-as="json"
    on-response="showData"
    >
    <!--<input type="text" value="{{first_name::input}}">
    <input type="range" min="18" value="{{age::input}}" max="70">-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {    //extends hereda de una clase base de donde creo mi web-componet
      static get is() { return 'visor-cuentas'; }    //funcion estatica permite llamarlas antes de instanciar el objeto
      static get properties() {
        return {
          IBAN: {
            type: String
          },IdUsuario: {
            type: String
          },balance: {
            type: Number
          },cuentas:{
            type: Array
          }
        };
      }
      showData(data){
        console.log(data.detail.response);
        this.cuentas = data.detail.response;
        this.IBAN = data.detail.response[0].IBAN;
        this.IdUsuario = data.detail.response[0].IdUsuario;
        this.balance = data.detail.response[0].balance;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);// define un nuevo custonelement  'frontproyecto-app' en window
  </script>
</dom-module>
