<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template> <!--Aqui está el html y css del componente-->
    <!--display block indica al componente que se miestre, si es display none no se muetra
  all initila indica a los stilos que se reinicien y entonces no hereda del css global -->
    <style>
      :host {
        display: block;
        /*all:initial;*/
        /*border:solid red;*/
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <h2>Hello [[prop1]]!</h2>
    <h3>Soy [[first_name]] [[last_name]]</h3>
    <h4>y mi email es [[email]]</h4>

    <iron-ajax auto
    id="getUser"
    url="http://localhost:3000/apitechu/v2/users/{{id}}"
    handle-as="json"
    on-response="showData"
    >
    <!--<input type="text" value="{{first_name::input}}">
    <input type="range" min="18" value="{{age::input}}" max="70">-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {    //extends hereda de una clase base de donde creo mi web-componet
      static get is() { return 'visor-usuario'; }    //funcion estatica permite llamarlas antes de instanciar el objeto
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'TechU'
          },first_name: {
            type: String
          },last_name: {
            type: String
          },id: {
            type: Number
          }
        };
      }
      showData(data){
        console.log(data.detail.response);
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);// define un nuevo custonelement  'frontproyecto-app' en window
  </script>
</dom-module>
